<div class="row center-xs board-container" style="width: 800px;">

  <div class="col-xs-2">
    <mat-card class="mancala">
    </mat-card>
  </div>

  <div class="col-xs-8">

    <div class="row">

      <div class="col-xs-12">
        <div class="row">

          <div class="col-xs-2">
            <mat-card class="house">
            </mat-card>
          </div>

          <div class="col-xs-2">
            <mat-card class="house">
            </mat-card>
          </div>

          <div class="col-xs-2">
            <mat-card class="house">
            </mat-card>
          </div>

          <div class="col-xs-2">
            <mat-card class="house">
            </mat-card>
          </div>

          <div class="col-xs-2">
            <mat-card class="house">
            </mat-card>
          </div>

          <div class="col-xs-2">
            <mat-card class="house">
            </mat-card>
          </div>

        </div>
      </div>

      <div class="col-xs-12" style="padding-top: 2em;">
        <div class="row">

          <div class="col-xs-2">
            <mat-card class="house">
            </mat-card>
          </div>

          <div class="col-xs-2">
            <mat-card class="house">
            </mat-card>
          </div>

          <div class="col-xs-2">
            <mat-card class="house">
            </mat-card>
          </div>

          <div class="col-xs-2">
            <mat-card class="house">
            </mat-card>
          </div>

          <div class="col-xs-2">
            <mat-card class="house">
            </mat-card>
          </div>

          <div class="col-xs-2">
            <mat-card class="house">
            </mat-card>
          </div>

        </div>
      </div>

    </div>

  </div>

  <div class="col-xs-2">
    <mat-card class="mancala">
    </mat-card>
  </div>
</div>
