<h1>{{'board.current' | translate}}: {{match && match.currentTurnPlayer}}</h1>

<h2>{{match && match.northPlayer}}</h2>

<div class="row center-xs">

  <div class="col-xs-2">
    <app-house [playerStash]="true" [numberOfSeeds]="northPlayerScore" [scoreAbove]="true"></app-house>
  </div>

  <div class="col-xs-8">

    <div class="row middle-xs">

      <div *ngFor="let house of northPlayerBoard" class="col-xs-2 clickable" (click)="playMove(house)">
        <div class="row">
          <app-house class="col-xs-12" [numberOfSeeds]="house.numberOfSeeds" [scoreAbove]="true"></app-house>
        </div>
      </div>

      <div *ngFor="let house of southPlayerBoard" class="col-xs-2 clickable" (click)="playMove(house)">
        <div class="row">
          <app-house class="col-xs-12" [numberOfSeeds]="house.numberOfSeeds"></app-house>
        </div>
      </div>

    </div>

  </div>

  <div class="col-xs-2">
    <app-house [playerStash]="true" [numberOfSeeds]="southPlayerScore"></app-house>
  </div>
</div>

<h2>{{match && match.southPlayer}}</h2>
