<mat-card>
  <mat-card-title>
    (0) Fulano VS Cicrano (0)
  </mat-card-title>

  <mat-card-content style="padding-top: 1em;">
    <!-- TODO -->
    <app-board></app-board>
  </mat-card-content>

  <mat-card-actions>
    <div class="row center-xs">
      <button mat-raised-button color="primary">
        Pause
      </button>
      <button mat-raised-button color="accent">
        Restart
      </button>
      <button mat-raised-button color="warn">
        Forfeit
      </button>
    </div>
  </mat-card-actions>
</mat-card>
