<div class="row center-xs">

  <mat-card *ngIf="match" class="col-xs-10 board-container">

    <mat-card-content>
      <app-board [match]="match"></app-board>
    </mat-card-content>

    <mat-card-actions>
      <div class="row center-xs">
        <button mat-raised-button color="primary">
          {{'match.exit' |translate}}
        </button>
        <button mat-raised-button color="warn">
          {{'match.forfeit' |translate}}
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

</div>

