<mat-card class="home-container">
  <mat-card-title>
    <!-- TODO i18n -->
    Welcome to the Kalah Game!
  </mat-card-title>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <div class="row center-xs">

      <div class="col-xs-12 option-btn">
        <button mat-raised-button color="primary" disabled>
          Resume Game
        </button>
      </div>

      <div class="col-xs-12 option-btn">
        <button mat-raised-button color="accent">
          Single Player
        </button>
      </div>

      <div class="col-xs-12 option-btn">
        <button mat-raised-button color="accent">
          Local Multi Player
        </button>
      </div>

    </div>
  </mat-card-actions>
</mat-card>
